<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Track Record</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <h1 class="h1-index"> STUDENT TRANSFORMATION RECORD </h1>
    <div class="buttons">
        <div>
            <a class = "links" href="view.html"><button class= "one" type = "button" onclick=""> View/ Edit Record </button></a>
        </div>
            <br>
        <div>
            <a class = "links" href="signup.html"><button class= "two" type = "button" onclick=""> Add Record</button></a>
        </div>
    </div>
<footer id="footer">
    <p id="copyright">Copyright &copy; CMRIT</p>
</footer>
</body>
</html>