<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Track Record</title>
    <link rel = "stylesheet" href = "style.css" />
</head>
<body>
    <h1 class="h1-adddetails"> Select a Field to View/Edit </h1>
    <div class="buttons">
        <div>
            <a class = "links" href="pagenotfound.html"><button class= "one" type = "button" onclick=""> Student Details </button></a>
        </div>
            <br>
        <div>
            <a class = "links" href="pagenotfound.html"><button class= "two" type = "button" onclick=""> Guardian Details </button></a>
        </div>
            <br>
        <div>
          <a class = "links" href="pagenotfound.html"><button class= "two" type = "button" onclick=""> Educational Background </button></a>
        </div>
            <br>
        <div>
            <a class = "links" href="pagenotfound.html"><button class= "two" type = "button" onclick=""> Addmission Details </button></a>
        </div>
    </div>
</body>
</html>