body {
    background-color: #E3F4F4;
    color: #132043;
    font-family: "Inter", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
}
.h1-index {
    font-size: 30px;
    text-align: center;
    padding-bottom: 8%;
    padding-top: 8%;
}
.h1-adddetails {
    font-size: 30px;
    text-align: center;
    padding-top: 8%;
}
h2 {
    padding-left: 20px;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.one:hover,
.one:active,
.two:hover,
.two:active { 
  color: #FDF0F0;
  border: 3px solid #000000;
  opacity: 1;
}
.buttons {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 10px;
}
.one, .two {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border: 3px solid;
    color: #E3F4F4;
    background: #1F2544;
    padding: 7px 20px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}
.links {
    text-decoration: none;
}
label {
    padding: 20px;
}
form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
#copyright {
    text-align: center;
    color: rgb(0, 0, 0);
}
#footer {
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    margin-top: 150px;
}